p {
  border: 2px solid powderblue;
}

#AllCharts {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#OverTime {
	top:2000px;
	bottom: 2000px; 
	left: 2000px;
	right: 2000px;
	/*height: 1000px;
	width: 800px;*/
}
