
#AllCharts {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#OverTime {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 3000px;
	width: 3000px;*/
}

#BarChart {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 3000px;
	width: 3000px;*/
}

#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 3000px;
	width: 3000px;*/
}
